<body>
    <!-- NAVIGATION -->
    <div class="nav-bar">             
        <h1>Life <span>&</span> a Budget</h1>
        <a href="/login">
            <button class="login-btn fa-solid fa-user" role="button"></button>
        </a>
    </div>

    <!-- Main Body -->
    <div class="main-body">
        <div class="container">
            <div class="body-title">
                <h1>Budget Planning Made Simple.</h1>
                <hr>
            </div>
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </h2>
            <h3> <span>"A budget is telling your money where to go instead of wondering where it went."</span>  - Somebody Smart</h3>
            <a href="/login">
            <button class="start" role="button">Start Budgeting!!</button>
            </a>
        </div>
    </div>

    <!-- Footer -->
    <footer class="credit">
        <h2>Life <span>&</span> a Budget &copy2022  <a href="">Marco Moya</a>, <a href="https://github.com/cameronstroup">Cameron Stroup</a>, <a href="">Kavya Mantena</a>, <a href="">Andrew Kim</a> and <a href="https://github.com/Wist118">William Stock</a></h2>
    </footer>

    <script></script>
</body>
</html>