<body>
    <!-- Jumbotron -->
    
    <div class="nav-bar">
        <i class="fa-solid fa-money-bill-trend-up"></i>
        <h1>Life and a Budget</h1>
        <a href="/login">
        <button class="login-btn fa-solid fa-user" role="button">Login</button>
        </a>
    </div>


    <!-- Main Body -->
    
    <div class="main-body">
        <div class="main-left">
            <h2>Planning your budget has never been so easy!</h2>
            <p>
                It doesn't matter if you need a little extra cash in your pocket each month or you're planning 
                to maximize your retirement. We have what you need, no matter how big or small the budget is.
            </p>
            <a href="/budget">
            <button class="start" role="button">Start Budgeting!!</button>
            </a>
        </div>
        <div class="main-right">
            <h2>tryyrtrtytyry</h2>
        </div>
    </div>

    <!-- Footer -->
    <footer class="credit">
        <h2>Life and a Budget &copy2022  <a href="">Marco Moya</a>, <a href="https://github.com/cameronstroup">Cameron Stroup</a>, <a href="">Kavya Mantena</a>, <a href="">Andrew Kim</a> and <a href="https://github.com/Wist118">William Stock</a></h2>
    </footer>

    <script></script>
</body>
</html>